.ipynb_checkpoints
.vscode
.env
.venv
.DS_Store
.env.local
.Trash-*

# Visual Studio 2022
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio Code
.vscode/

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper

# Rider
.idea/
*.sln.iml

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/
*.nuspec
project.lock.json
project.fragment.lock.json
artifacts/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Others
*.vspscc
*.vssscc
